body{
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.bg-primary{
  background-color: #43a7bdea!important;
}
a{
  text-decoration: none !important;
  transition: all 1s;
}
.text-primary{
  color: #81b9dc!important;
}